/* common */
.justify-content-end {
    justify-content: flex-end !important;
}

.padding-lr-20 {
    padding: 0 20%;
}

/* global */

*, ::after, ::before {
    box-sizing: border-box;
}

::selection {
    color: #FEFEFE;
    background-color: #f4974a;
}

html {
    height: 100%;
}

html, body {
    font-family: Consolas;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background-color: #FEFEFE;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 800px;
    margin: auto;
}

main {
    width: 800px;
    margin: auto;
}

footer {
    padding: 20px 0px 40px 0px;
    width: 800px;
    margin: auto;
}

ul {
    padding-inline-start: 1em;
}

/* nav */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.nav-link {
    display: block;
    margin: 0.5rem 0.9rem;
    padding: 0 0.1rem;
    color: #2c3e50;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #f4974a;
}

.nav-link.active {
    color: #f4974a;
    border-bottom: 2px solid #f4974a;
}

/* table */

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    border-collapse: collapse;
}
table>:not(caption)>*>* {
    padding: .5rem .5rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
}
table>tbody>tr:nth-of-type(even)>* {
    background-color: rgba(0, 0, 0, 0.05);
    color: #212529;
}
thead {
    color: #eb7716;
    background-color: #ffdcc3;
    text-align: left;
}

/* link */
a {
    text-decoration: none;
    color:#f4974a;
}

/* head */

h1, h2, h3, h4, h5, h6 {
    color: #f4974a;
    position: relative;
}

h1 {
    font-size: 2em;
}

.container h2:before, .container h3:before {
    color: #f4974a;
    position: absolute;
    left: -1.2rem;
    top: -0.2rem;
    font-size: 1.2em;
    font-weight: bold;
}

.container h2:after {
    border-bottom: 1px solid #e5b899;
    content: " ";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -0.3em;
}

.container h2:before {
    content: "#";
}

.container h3:before {
    content: "*";
}

/* code */
pre {
    padding: 0.6rem 1rem 0.3rem 1rem;
}

pre, pre code {
    color: #f8f8f2;
    background-color: #272822;
    border-radius: 2.5px;
    tab-size: 4;
    overflow: auto;
    font-size: 0.9rem;
}

pre::-webkit-scrollbar {
    background-color: #272822;
    height: 0.8rem;
}

pre::-webkit-scrollbar-thumb {
    background-color: #f4974a;
    border-radius: 2.5px;
}

code {
    font-family: Consolas;
    font-size: 0.5rem;
    color: #ab0000;
    background-color: #ffdee3;
    display: inline-block;
    padding: 0 4px;
    border-radius: 2.5px;
}

/* image */
img {
    width: 100%;
}

/* blockquote */
blockquote {
    font-size: 0.8rem;
    padding: 0 1rem;
    margin: 1.25rem 0;
    border: 1px solid #e9ecef;
    border-left-color: #f4974a;
    border-left-width: 0.25rem;
}

/* mermaid */
/* Set svg to center */
.mermaid svg {
    display: block;
    margin: auto;
}

/* post list */
.post-list {
    margin: auto;
}
.post-item {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
.post-date {
    margin-right: 1rem;
}
.post-link {
    color: #f4974a;
}
.post-link:hover {
    color: #6E511E;
}

/* post content */
.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

/* pagenation */
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paginator .prev::before {
    content: "⬅️";
}

.paginator .next::after {
    content: "➡️";
}

/* toggler */
.toggler {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    border-radius: 100%;
    height: 2.5em;
    width: 2.5em;
    overflow: hidden;
    line-height: 2.5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #d1d1d1;
    background-color: #1d1d1d;
}
.toggler:hover {
    background-color: gray;
}

/************************************ NIGHT ****************************************/

.night {
    color: #d1d1d1;
    background-color: #1d1d1d;
}

.night .nav-link {
    color: #d1d1d1;
}
.night .nav-link:hover {
    color: #f4974a;
}
.night .nav-link.active {
    color: #f4974a;
    border-bottom: 2px solid #f4974a;
}

.night table {
    color: #d1d1d1;
}

.night .toggler {
    color: #1d1d1d;
    background-color: #d1d1d1;
}